In [1]:
import pandas as pd

In [2]:
cosine_sim = pd.read_csv('cosine_sim.csv')

In [3]:
cosine_sim_map = pd.read_csv('cosine_sim_map.csv', header=None)
cosine_sim_map = cosine_sim_map.set_index(0)
cosine_sim_map = cosine_sim_map[1]

In [4]:
from surprise import SVD, Reader, Dataset

reader = Reader()
ratings = pd.read_csv('ratings_small.csv')
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)
svd = SVD()
train_set = data.build_full_trainset()
svd.fit(train_set)

In [5]:
id_map = pd.read_csv('movie_ids.csv')
id_to_title = id_map.set_index('id')
title_to_id = id_map.set_index('title')

In [6]:
smd = pd.read_csv('metadata_small.csv')

In [7]:
def hybrid(user_id, title):
    idx = cosine_sim_map[title]    
    sim_scores = list(enumerate(cosine_sim[str(int(idx))]))    
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)    
    sim_scores = sim_scores[1:26]    
    movie_indices = [i[0] for i in sim_scores]
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]    
    movies['est'] = movies['id'].apply(lambda x: svd.predict(user_id, id_to_title.loc[x]['movieId']).est)    
    movies = movies.sort_values('est', ascending=False)    
    return movies.head(10)

In [8]:
hybrid(1, 'Avatar')

,title,vote_count,vote_average,year,id,est
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,3.440362
1011,The Terminator,4208.0,7.4,1984,218,3.256267
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,3.037709
974,Aliens,3282.0,7.7,1986,679,3.003155
2014,Fantastic Planet,140.0,7.6,1973,16306,2.946158
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,2.915424
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,2.843594
7265,Dragonball Evolution,475.0,2.9,2009,14164,2.786999
8865,Star Wars: The Force Awakens,7993.0,7.5,2015,140607,2.769721
922,The Abyss,822.0,7.1,1989,2756,2.763326

In [9]:
hybrid(2, 'Avatar')

,title,vote_count,vote_average,year,id,est
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,4.113095
7705,Alice in Wonderland,8.0,5.4,1933,25694,3.815981
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,3.813847
1011,The Terminator,4208.0,7.4,1984,218,3.773902
2014,Fantastic Planet,140.0,7.6,1973,16306,3.719912
2834,Predator,2129.0,7.3,1987,106,3.687732
974,Aliens,3282.0,7.7,1986,679,3.675392
8865,Star Wars: The Force Awakens,7993.0,7.5,2015,140607,3.634927
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,3.574834
4966,Hercules in New York,63.0,3.7,1969,5227,3.504738